.r-form-container {
    height: 60vh;
    max-width: 500px;
    margin: 70px auto 0;
    padding: 20px;
    position: relative;
}

.r-form {
    background-color: rgba(245, 245, 245, 0);
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.r-form--submit {
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    color: white;
    background-color:  #2c5e75;
    border: none;   
    cursor: pointer; 
    margin-top: 70px;
}

.r-form--submit:hover{
    transform: translate(1px, 1px);
}

.register {
   float: right;
   padding: 50px 20px;
   font-weight: 700;

}

.register:hover {
 text-decoration:underline;
 color: #2c5e75;
}