.Vans-container{
  
    max-width: 1000px;
    margin:auto;
    text-align: left;
    padding: 10px;  
  }
  
  .filters {
    text-align: left;
  }
  
  .filters button{
    padding:5px 18px; 
    margin:5px 15px 5px 0; 
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    color:white;
  
  }
  
  .filters button:hover{
    transform: translate(1px, 1px);
  }
  
  .simple{
    background-color: #1f4557;

  }
  .luxury{
    background-color: rgba(129, 73, 129, 0.986);
  }
  .rugged{
    background-color: peru; 
  }

  .simple-selected{
    background-color: #1f4557;
    width:88px;
    height:30px;
    font-size: 1em;
    
  }
  .luxury-selected{
    background-color: rgba(129, 73, 129, 0.986);
    width:88px;
    height:30px;
    font-size: 1em;
  }
  .rugged-selected{
    background-color: peru;
    width:88px;
    height:30px;
    font-size: 1em;

  }
  
  .filters span {
    float: right;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 0;  
    text-decoration: underline rgb(66, 66, 66)
  }
  
  .filters span:hover {
    color: #2c5e75e1;
  }
  


  .vans-lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin: 40px 0 70px;
  } 
  .van-img {
    max-width: 100%;
    border-radius: 5px;
  }
  .van-tile {
    display: block;
  }
  .van-text {
    padding: 2px 5px 0;
  }
   .van-text h3 {
    float: left;
    padding:0;
    margin:0
   }
   .van-text span {
    float: right;
    padding-top: 2px;
    margin:0
   }
  
   .van-type {
    
    height: 25px;
    width: 70px;
    margin:30px 0 5px 5px;
    padding: 2px 11px;
    font-style: normal;
    font-weight: 500;
    border: 1px outset #d1d1d1;
    border-radius: 5px;
    color: white;
    background: #b39b82;
    
  }
  
  .van-detail-container {
    margin:30px auto;
    max-width: 80vw
    
  }
  .van-detail {
    display: flex;
    flex-direction: column;
    background-color: #1f4557;
    color:white;
    border-radius: 5px;
    padding:10px
  }
  
  .van-detail img {
    border-radius: 3px;
    margin: 5vh 2vw;
    box-shadow: 1px 1px 4px black;
    
  }
  
  .van-detail h2 {
    font-size: 2rem;
    margin: 15px 2vw 0;
  }
  
  .van-detail > i {
    margin-left:2vw
  }
  
  .van-detail .van-price {
    font-size: 1.25rem;
    
  }
  
  .van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
  }
  .van-detail p {
    margin: 15px 2vw;
  } 
  
  
  
  .link-button {
    margin: 50px auto;
    border-radius: 5px; 
    width:200px;
    height:40px;
    font-size: 1em; 
    font-weight: 600;
    color: #313131;
    
  }
  
  .link-button:hover {
    transform: translate(1px, 1px);
  }
  
  @media only screen and (max-width: 480px) {

   
    .vans-lists {
      padding-top:40px
    }
    .Vans-container h1 {
      font-size:1.5em
  
    }
  
    .van-text  h3 {
      font-size: .8em;
     }
     .van-text  span{
      float: right;
      font-size: .8em;
      padding-top: 0;
     }
  
   
  }
  
  
  @media only screen and (max-width: 680px) {
    .vans-lists {
      grid-template-columns: 1fr 1fr;
    } 
   
  }
  
  @media only screen and (min-width: 980px) {
  
    .van-detail-container { 
      max-width: 60vw  
    }
    
   
  }