

a {
  text-decoration: unset;
  color: unset;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  font-size: 15px;
  margin: 0 3vw
}

header .site-logo {
  margin-right: auto;
  font-weight: 900;
  font-size: 28px;
  
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #2c5e75e1;
  text-decoration: underline dotted #2c5e75e1 2px;
  
}

header .login-icon {
  height: 20px;
  width: 20px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

nav {
  display: flex;
}

@media only screen and (max-width: 480px) {
  

  header {
    flex-direction: column;
    margin-bottom: 3vh;
    
  }
  header .site-logo {
    margin: 15px auto;
  }

  nav {
    display: flex;
    gap:4vw;
    
  }

  .Vans-container h1 {
    font-size: 1.7em;
  }

}

.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
      url("./assets/background.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 70vh;
  color: white;
  padding: 50px 20vw 50px 10vw;
  position: relative;
  margin: 0 10px 50px

}


.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  padding-top: 20px
 
}

.home-container p {
  padding-top: 0;
  padding-bottom: 30px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #1f4557;
  border: none;
  width: 35vw;
  margin: 80px 0;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(2px, 2px);
}

.about-page-container{
  position: relative;  
}

.about-hero-image {
  width: 98vw;
  margin: 0 1vw; 
}

.about-h2 {
  padding-bottom: 10px;
}
.about-page-cta {
  margin: auto;
  padding:5px 40px 60px;
  width:95vw; 
  line-height: 1em; 
}

.about-page-cta a {
  background-color: #1f4557;
  color:white;
  padding:5px 18px;
  text-align: center;
}
 

.link-button {
  margin: 10px 3.5vw 100px;
  float: right;
  border-radius: 5px; 
}

.about-page-cta a:hover {
  transform: translate(1px, 1px);
}

@media only screen and (min-width: 780px) {
  .about-hero-image {
    max-height: 60vh;
    object-fit:cover   
  }

}

.Vans-container{
  
  max-width: 600px;
  margin:auto;
  text-align: left;
  padding: 10px;  
}

.filters {
  text-align: left;
}

.filters button{
  padding:5px 18px; 
  margin:5px 15px 5px 0; 
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  color:white;

}

.filters button:hover{
  transform: translate(1px, 1px);
}

.simple{
  background-color: #1f4557;
}
.luxury{
  background-color: rgba(129, 73, 129, 0.986);
}
.rugged{
  background-color: peru;
}

.filters span {
  float: right;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 0;  
  text-decoration: underline rgb(66, 66, 66)
}

.filters span:hover {
  color: #2c5e75e1;
}

.vans-lists {
  display: flex;
  gap: 10px;
  width: 100%;
}
.van-img {
  min-width: 150px;
  max-width: 350px;
  padding: 5px;
}

.van-text {
  padding: 0 5px
}
 .van-text h3 {
  float: left;
 }
 .van-text span {
  float: right;
 }

 .van-type {
  background-color: bisque;
  padding: 5px;
  float: left;
 }