* {
    box-sizing: border-box;
	
}


html {
	font-family: "Inter", sans-serif;	
	position: relative;
	margin: 0;
    padding: 0;
	color: #302f2f;
  }


body {
	
	margin: 0 20px 100px;
	padding: 0;
	background-color: #fff7ed;	
	-ms-overflow-style: none;
    scrollbar-width: none;
    
	
}

body::-webkit-scrollbar {
    display: none;
}

footer {	
	left: 0;
	bottom: 20px;
	height: 30px;
	width: 100%;
	color: #252525;
	text-align: center;
	padding: 15px 0;
	font-size: .9em;
	font-weight: 650;
	position: absolute;
}

